@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%,
  var(--c) 50% 50%,
  var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: b6 1s infinite linear;
}

@keyframes b6 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}

.slider .thumb {
  width: 10px;
  height: 10px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  top: -3.5px
}

.slider .track-1 {
  background-color: black;
  height: 1px;
}