@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1420px] px-8 mx-auto lg-phone:px-4 tablet:px-[25px] phone:px-[15px];
  }
}

@layer base {
  fieldset {
    @apply m-0 p-0 border-none;
  }
  img {
    @apply max-w-full w-full
  }

  body {
    @apply bg-gray-50
  }
}

.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#000 0 0);
  background: var(--c) 0% 50%,
  var(--c) 50% 50%,
  var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: b6 1s infinite linear;
}

@keyframes b6 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}

.slider .thumb {
  width: 10px;
  height: 10px;
  cursor: grab;
  background: #fff;
  border-radius: 50%;
  border: 2px solid black;
  top: -3.5px
}

.slider .track-1 {
  background-color: black;
  height: 1px;
}

.padding {
  padding-left: max(25px, calc((100% - 1360px) / 2));
}

.text {
  -webkit-text-stroke: #ff6915;
  -webkit-text-stroke-width: 1px;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

@media screen and (max-width:460px) {

  .paginate li:first-child {
    width: 100%;
    display: block;
  }
  .paginate li:last-child {
    display: block;
    width: 100%;
  }
}


@media screen and (max-width: 400px) {
  .padding {
    padding-left: max(15px, calc((100% - 1360px) / 2));
  }
}